torch
torchvision
Cython
matplotlib
tqdm
numpy
scipy
PyYAML
tensorboardX
tensorboard
scikit-learn
scikit-image
seaborn
pillow
opencv-python
opencv-contrib-python
einops
lpips
natsort
timm
openpyxl
kornia